<mat-toolbar>
    <button mat-icon-button routerLink="/diagrams" matTooltip="Back" ><mat-icon fontIcon="arrow_back"></mat-icon></button>
    
    <div *ngIf="navigationSource">
        <a mat-flat-button [routerLink]="['/diagrams', navigationSource.id]">{{ navigationSource.name }}</a>&nbsp;/&nbsp;
    </div>

    <mat-form-field>
        <mat-label>Diagram name</mat-label>
        <input matInput [(ngModel)]="diagram.element.name">
    </mat-form-field>

    <div class="app-spacer"></div>
    
    <button [disabled]="diagram.element.name == ''" mat-raised-button color="primary" (click)="doSave()">
        <mat-icon fontIcon="save"></mat-icon>
        Save
    </button>
    <button mat-raised-button (click)="doUndo()" [disabled]="!diagram.id">
        <mat-icon fontIcon="undo"></mat-icon>
        Undo
    </button>
    <button mat-raised-button (click)="doDownload()">
        <mat-icon fontIcon="download"></mat-icon>
        Download
    </button>
    <app-upload-button (importDone)="onUpload($event)"></app-upload-button>
</mat-toolbar>
<app-bpmn-modeler></app-bpmn-modeler>