

<mat-toolbar color="primary">
  BPMN Architect
  <div class="app-spacer"></div>
</mat-toolbar>

<ng-template #defaultButtons let-node="node">
  <div>
    <button *ngIf="node"
          mat-icon-button
          (click)="doEditNode(node)" 
          attr.aria-label="edit  {{node.name}}"
          matTooltip="Edit '{{node.name}}'" [disabled]="this.editElement">
      <mat-icon fontIcon="edit"></mat-icon>
    </button>

    <button *ngIf="!node"
            mat-icon-button 
            routerLink="/diagrams/new"
            matTooltip="New Diagram"
            [disabled]="this.editElement">
      <mat-icon fontIcon="account_tree"></mat-icon>
    </button>

    <button [disabled]="this.editElement" 
            mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              *ngIf="node"
              routerLink="/diagrams/new" 
              [queryParams]="toQueryParams(node)">
        <mat-icon fontIcon="account_tree"></mat-icon>
        Add diagram to '{{ node.name }}'
      </button>

      <button mat-menu-item
              (click)="doAddFolder(node)">
        <mat-icon fontIcon="create_new_folder"></mat-icon>
        {{ node ? 'Add folder to \'' + node.name + '\'' : 'Add folder' }}
      </button>

      <button *ngIf="node"
              mat-menu-item
              (click)="doMoveElement(node)">
        <mat-icon fontIcon="move_down"></mat-icon>
        {{ 'Move \'' + node.name + '\'' }}
      </button>

      <mat-divider></mat-divider>

      <button *ngIf="node && node.source?.id" 
            mat-menu-item
            [attr.aria-label]="'Delete ' + node.name"
            (click)="doDelete(node)">
        <mat-icon color="warn"  fontIcon="delete"></mat-icon>
        Delete '{{ node.name }}'
      </button>
      <button *ngIf="!node" mat-menu-item (click)="doClear()">
        <mat-icon color="warn">delete_forever</mat-icon>
        Delete everything
      </button>
    </mat-menu>
  </div>
  
</ng-template>

<table mat-table [dataSource]="ds.dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> 
      <span [style.paddingLeft.px]="48"> Name </span>
    </th>
    <td mat-cell *matCellDef="let data;">
      <div class="app-flex">
        <ng-container *ngIf="!isEditNode(0, data)">
          <button mat-icon-button 
                  [style.visibility]="!data.expandable ? 'hidden' : ''"
                  [style.marginLeft.px]="data.level * 32"
                  (click)="ds.treeControl.toggle(data)">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ds.treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <app-bpmn-element-icon class="mr-2" [element]="data"></app-bpmn-element-icon>
          {{data.name}}
        </ng-container>
        <ng-container *ngIf="isEditNode(0, data)">
          <button mat-icon-button disabled></button>
          <mat-form-field *ngIf="editElement">
            <input #inputName aria-label="enter folder name" matInput (keydown.enter)="doSaveElement()" [(ngModel)]="editElement!.name">
          </mat-form-field>
          <div class="app-action-bar">
            <button aria-label="save folder name" mat-raised-button color="primary" (click)="doSaveElement()" [disabled]="editElement?.name == ''">
              <mat-icon fontIcon="save"></mat-icon>
              {{editElement?.id ? 'Save' : 'Create'}}
            </button>
            <button aria-label="cancel folder name change" mat-raised-button (click)="cancelEdit()">
              Cancel
            </button>
          </div>
        </ng-container>
      </div>
    </td>
  </ng-container> 

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Last update </th>
    <td mat-cell *matCellDef="let data"> {{data.updateDate | date:'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="text-align: right;">  
      <ng-container [ngTemplateOutlet]="defaultButtons"></ng-container>  
    </th>
    <td mat-cell *matCellDef="let data" style="text-align: right;"> 
      <ng-container [ngTemplateOutlet]="defaultButtons" [ngTemplateOutletContext]="{node: data}"></ng-container>
    </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>