

<mat-toolbar color="primary">
  BPMN Architect
  <div class="app-spacer"></div>
  <ng-container [ngTemplateOutlet]="defaultButtons"></ng-container>  
</mat-toolbar>

<ng-template #defaultButtons let-node="node">
  <div attr.style="padding-right: {{node ? '16px' : ''}};">
    <button *ngIf="node"
          mat-icon-button
          (click)="doEditNode(node)" 
          attr.aria-label="edit  {{node.name}}"
          matTooltip="Edit '{{node.name}}'" [disabled]="this.editElement">
      <mat-icon fontIcon="edit"></mat-icon>
    </button>

    <button *ngIf="!node"
            mat-icon-button 
            routerLink="/diagrams/new"
            matTooltip="New Diagram"
            [disabled]="this.editElement">
      <mat-icon fontIcon="account_tree"></mat-icon>
    </button>

    <button [disabled]="this.editElement" 
            mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              *ngIf="isFolder(node)"
              routerLink="/diagrams/new" 
              [queryParams]="toQueryParams(node)">
        <mat-icon fontIcon="account_tree"></mat-icon>
        Add diagram to '{{ node.name }}'
      </button>

      <button *ngIf="isFolder(node) || !node"
              mat-menu-item
              (click)="doAddFolder(node)">
        <mat-icon fontIcon="create_new_folder"></mat-icon>
        {{ node ? 'Add folder to \'' + node.name + '\'' : 'Add folder' }}
      </button>

      <button *ngIf="node"
              mat-menu-item
              (click)="doMoveElement(node)">
        <mat-icon fontIcon="move_down"></mat-icon>
        {{ 'Move \'' + node.name + '\'' }}
      </button>

      <mat-divider></mat-divider>

      <button *ngIf="node && node.source?.id" 
            mat-menu-item
            [attr.aria-label]="'Delete ' + node.name"
            (click)="doDelete(node)">
        <mat-icon color="warn"  fontIcon="delete"></mat-icon>
        Delete '{{ node.name }}'
      </button>
      <button *ngIf="!node" mat-menu-item (click)="doClear()">
        <mat-icon color="warn">delete_forever</mat-icon>
        Delete everything
      </button>
    </mat-menu>
  </div>
  
</ng-template>

<ng-template #nameAndDate let-node="node">
  <app-bpmn-element-icon class="mr-1" [element]="node"></app-bpmn-element-icon>
  {{node.name}}
  <div class="app-spacer"></div>
  {{node.updateDate | date:'short'}}
  <div class="app-spacer"></div>
</ng-template>

<mat-tree [dataSource]="ds.dataSource" [treeControl]="ds.treeControl">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <ng-container [ngTemplateOutlet]="nameAndDate" [ngTemplateOutletContext]="{node}"></ng-container>
    <div class="app-spacer"></div>
    <ng-container [ngTemplateOutlet]="defaultButtons" [ngTemplateOutletContext]="{node}"></ng-container>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: isEditNode" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field *ngIf="editElement">
      <input #inputName aria-label="enter folder name" matInput (keydown.enter)="doSaveElement()" [(ngModel)]="editElement!.name">
    </mat-form-field>
    <div class="app-action-bar">
      <button aria-label="save folder name" mat-raised-button color="primary" (click)="doSaveElement()" [disabled]="editElement?.name == ''">
        <mat-icon fontIcon="save"></mat-icon>
        {{editElement?.id ? 'Save' : 'Create'}}
      </button>
      <button aria-label="cancel folder name change" mat-raised-button (click)="cancelEdit()">
        Cancel
      </button>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button
            [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{ds.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <ng-container [ngTemplateOutlet]="nameAndDate" [ngTemplateOutletContext]="{node}"></ng-container>
    <ng-container [ngTemplateOutlet]="defaultButtons" [ngTemplateOutletContext]="{node}"></ng-container>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: isEmptyFolder" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <ng-container [ngTemplateOutlet]="nameAndDate" [ngTemplateOutletContext]="{node}"></ng-container>
    <ng-container [ngTemplateOutlet]="defaultButtons" [ngTemplateOutletContext]="{node}"></ng-container>
  </mat-tree-node>
</mat-tree>  
